/* CSS files add styling rules to your content */
* {
  margin:0;
}



body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  z-index:-10;
  text-align:center;
  display:block;
}

/* Navigation bar */



ul {
  list-style-type: none;
  margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 14vw;
  width: 1000px;
  height: 44px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #333;
  top: 0;
  top-padding: 5px;
  position: center;
  position:relative;

  
}

li {
  float: center;
  
}

li a {
  display: block;
  color: #D6D6D6;
  text-align: center;
  padding:  14px 10px;
  text-decoration: none;
}


ion-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0.6vw;
}

  
  /* Notifs! */

#notif-outside {
  background-color: #333;
  width: 100%;
  order: 1;
  display: flex;
  justify-content: center;
  height: 44px;
  position:fixed;
  top:0vw;
  z-index: -9;

 
}

#notif-inside {
  background-color: #F5F5F7;
  display: inline-block;
  justify-content: center;
  height: 34px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    line-height: inherit;
    text-align: inherit;
  letter-spacing: .016em;
  color: #4C4C4D;

}

#notif-inside a {
  text-decoration:none;
  color:#0077CC;
}

#notif-inside a:hover {
  text-decoration:underline;
  color:#0077CC;
}


/* Main 1 */


.main1 {
  display: flex;
  justify-content: center;
  float:center;
  padding-top: 22px;
  text-decoration:none;
  z-index:5;
}

.main1 a{
  display: flex;
  justify-content: center;
  float:center;
  padding-top: 1px;
  text-decoration:none;
  color:#0077CC;
}

.main1 a:hover{
  text-decoration:underline;
  color:#0077CC;
}

.AppleLogo2 {
  display:flex;
  justify-content:center;
  float:center;
}

.MainHeader1 {
  display:flex;
  justify-content:center;
  font-size:60px;
  font-weight:600;
  
}

.Subheader {
  font-size: 20px;
}

.HolidayMain {
  z-index:-3;
  position:relative;
  top:-8vw;
  width: 75%;
  background-color:#FBFBFD
}

/* Main 2 */
.main2 {
  display: flex;
  justify-content: center;
  float:center;
  padding-top: 22px;
  text-decoration:none;
  background-color:#FBFBFD;
  top: 90vw;
}
/* plsmoveplsposhhf */

.main2 a{
  display: flex;
  justify-content: center;
  float:center;
  padding-top: 1px;
  text-decoration:none;
  color:#0077CC;
}

.main2 a:hover{
  text-decoration:underline;
  color:#0077CC;
}
  
.iPhone{
  height:130%;
  padding-top:900vw;
  position:absolute;
  }
  
 .
  
/* 404 */
 
.HeaderFour{
  display:flex;
  justify-content:center;
  padding-top:9vw;
  }

/* Mac */

.macnotif{
  padding-top: 44px;
  display:flex;
  justify-content:space-around;
  
}

/* Support */




/* i can't dothisanymoreimsnappingand not like chungha */